
	<div class= "textwhite">
	<h4>Copyright &copy; Roma Pizza Shop, 2012. All rights reserved.</h4>
	</div>

	<div class="fb-like" data-href="https://www.facebook.com/Roma-Pizza-Shop-593678210691905/" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="true"></div>
	
	

<a href="https://twitter.com/intent/tweet?button_hashtag=tweet&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-size="large" data-text="Get the special" data-show-count="false">Tweet #tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	

	
	
	<g:plus action="share" annotation="bubble"></g:plus>
	
