<div class="container phoneNum">
	<button type="button" class="btn btn-primary" onclick="showClayton()">Clayton Order Now</button>
	<h1 id="phone-cla">(919)550-7070 <%= link_to "Clayton Order Online", "https://slicelife.com/restaurants/nc/clayton/27527/roma-pizza-shop-clayton/menu?"%></h1>
	
	</br>
	<button type="button" class="btn btn-primary" onclick="showDurham()">Durham Order Now</button>
	<h1 id="phone-dum">(919)957-7662 <%= link_to "Durham Order Online", "https://slicelife.com/restaurants/nc/durham/27703/roma-pizza-shop/menu?" %></h1>
	
	

	
</div>