<h1>Welcome to Roma Pizza Shop</h1>
<div>
	<%=image_tag"ingredients.jpg", :class=> "ImageLeftWrap"%>
	<h2>Pizza you can write home about</h2>
	<p>The magic of Roma Pizza Shop is our use of

	fresh ingredients and spices that keep our

	customers coming back for more. Every dish

	we prepare is made to order, and is baked

	with care and quality with its own distinctive

	flavor and aroma.</p>
	<p>
  <%= link_to "Click Here", full_menu_durham_path %>
	for our full Menu.
	<br>
	</p>
</div>
<div>
	<h2>Always fresh </h2>
	<p>We use fresh spices and herbs for each individual dish and blend our own unique taste of spices and herbs that makes Roma pizza one of a kind.</br>


At Roma Pizza Shop, we strive to always bring you a little more… more delicious ways to discover great food, and more smiles and service from our enthusiastic team of pizza connoisseurs. Honest home style cooking is our obsession that we can't help. We go out of our way to bring you tasty flavors and fresh dishes that keep you craving another bite at Roma Pizza Shop.</p>
</div>

<div>
	<h2> Call today for delivery!</h2>
	<p>Smart humble service with infectious ambiance and a fresh vibe, creates an environment where you and your friends can feel at home, relax and be free. Call us today to order your own Roma Pizza creation!</p>
</div>

<div class="container">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12968.538036609858!2d-78.3945847!3d35.6490575!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7ef36973a549174c!2sRoma%20Pizza%20Shop!5e0!3m2!1sen!2sus!4v1615144642826!5m2!1sen!2sus" width="600" height="450" style="border:0; width:100%"  loading="lazy"></iframe>
</div>

