// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
/*somestuff*/

//@import "bootstrap";

#phone-dum {
	display:none;
}
#phone-cla {
	display:none;
}

.header1 {
	margin: 0;
	width: 900px;
	align: center;
}
.pic1 {
	width: 100%;
	position:relative;
}
.ImageLeftWrap {
	float: right;
	width: 25%;
}
.content {
	background-color: #969054;
	border-radius: 1%;
	padding: 20px;
}
.site {
	background-color: #722217;
}
.textwhite {
	color: white;
}
.menue {
	display: block;
	width: 90%;
	margin-left:auto;
	margin-right:auto;
	
}
.floatl {
	
	float: left;
}
.map {
	position: relative;
	width: 100%;
	height: 300px;
	z-index: 2;
}
.map1 {
	background-color: white;
	width: auto;
	height: auto;
	padding: 5px 5px;
	position: absolute;
	left: 40px;
	top: 15px;
	z-index: 99;
}
p {
	font-size: 14px;
}

.modHeader {
	border-bottom:0px;
	color: #0E3840;
}
.underline {
	text-decoration: underline;
}

.phoneNum {
	text-align: center;
	color: white;
}